@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f4f4f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 1rem;
}

h1, h2 {
    text-align: center;
    margin-bottom: 1rem;
}
.titulo-principal{
    background: #007BFF;
    color:white;
}
form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao {
    width: 48%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    margin-right: 4%;
}

.botao#btnLimpar {
    background-color: #dc3545;
}

.botao:focus {
    outline: none;
}

#resultado {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

#resultado p {
    padding: 0.5rem 0;
}

footer {
    background: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
